@tailwind preflight;

@tailwind components;

@tailwind utilities;


.shadow-black-3px {
    box-shadow: 3px 3px 0px 0 rgba(0, 0, 0, 0.5);
}

.my-shadow {
    box-shadow: 6px 6px 0px 0 rgba(0, 0, 0, 0.4);
}

.img-shadow {
    box-shadow: 2px 2px 0px 0 rgba(0, 0, 0, 0.3);
}

.download-shadow {
    box-shadow: 3px 3px 0px 0 rgba(0, 0, 0, 0.5);
}

.tabs li.active a {
    @apply border-l-4 border-t-4 border-r-4 border-indigo-dark;
}

.tabs li.active {
}

.tabs-panel {
    display: none;
}

.tabs-panel.active {
    display: flex;
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

.hire-me-li {
    left: -3.1rem;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

.section {
    display: none;
}

.active {
    display: inline-block;
}

.skill-highlight {
    @apply border-b border-indigo-lighter border-dashed;
}

.interest-highlight {
    background-image: linear-gradient(180deg,transparent 70%,rgba(163, 204, 255, 0.87) 0);
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}
.hvr-buzz-out {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.hvr-fade {
    display: flex;
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    transition-duration: 0.7s;
    transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    @apply bg-grey-darkest text-white;
}

.modal {
    display: none;
}

.modal.active {
    display: flex;
}

.text-link {
    @apply font-semibold;
    @apply text-indigo no-underline;
    background-image: linear-gradient(180deg,transparent 80%,rgba(178,183,255,.87) 0);
}

.text-link:hover {
    background-image: linear-gradient(180deg,transparent 80%,rgba(120,134,215,.87) 0);
}

.text-link:visited {
    @apply text-indigo;
}

.open-close-tab {
    @apply border border-indigo-dark text-indigo-dark;
    @apply p-1 w-5 h-5 shadow-black-3px cursor-pointer;
}

.open-close-tab:hover {
    @apply text-indigo-light border-indigo-light;
}

.back-to-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(100,206,170, 0.8) url(img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.back-to-top.back-to-top--show,
.back-to-top.back-to-top--fade-out,
.back-to-top:hover {
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.back-to-top.back-to-top--show {
    visibility: visible;
    opacity: 1;
}

.back-to-top:hover {
    background-color: #64CEAA;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .back-to-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .back-to-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}


